@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "notosans";
  }
@font-face {
    font-family: "notosans";
    src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  